<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles5.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assests/gu-favicon.png')}}" type="image/x-icon">
    <title>Submitted</title>
    <meta http-equiv="refresh" content="2;url={{ url_for('index') }}">
</head>

<body>
    <section class="top-section">
        <h1>Your response has been submitted!</h1>
        <p>You will be redirected back to the form in a few seconds.</p>
    </section>
</body>

</html>